services:
  backend:
    # The image name and tag are now dynamic. The tag will be passed in
    # as an environment variable from our CI/CD script.
    image: arafat6462/resumate:${IMAGE_TAG:-latest}
    container_name: resumate_backend_prod
    restart: always # Ensures the container restarts if it crashes or the server reboots
    # The command is now taken from the Dockerfile's CMD instruction.
    # We remove the local volume mount to ensure we run the code baked into the image.
    env_file:
      - ./.env
    ports:
      - "127.0.0.1:8000:8000"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    environment:
      # We can still define environment variables here.
      # These will override any variables set in the .env file.
      # We set the IMAGE_TAG here, which is passed from the CI script.
      - IMAGE_TAG=${IMAGE_TAG}

  db:
    image: postgres:16
    container_name: resumate_db_prod
    restart: always
    volumes:
      - postgres_data_prod:/var/lib/postgresql/data/
    env_file:
      - ./.env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:alpine
    container_name: resumate_redis_prod
    restart: always
    volumes:
      - redis_data_prod:/data

volumes:
  postgres_data_prod:
  redis_data_prod:
